body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F6E3F6; /* Set background color */
}

.navbar {
    background: rgba(255, 255, 255, 0); /* Fully transparent */
    transition: background 0.3s ease;
}

.navbar.scrolled {
    background: rgba(255, 255, 255, 1); /* White background */
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand .navbar-text {
    font-size: 1.5em;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    padding-left: 100px;
    padding-top: 150px;
}

.title {
    font-size: 30px;
    font-weight: bold;
}

.card {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 80px;
    padding-top: 20px;
    width: 200px;
    height: 260px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.owner-info {
    text-align: center; /* Center align owner info */
    margin-top: 10px; /* Adjust top margin for spacing */
}

.owner-name {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.headshot {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto; /* Center align headshot */
    display: block; /* Ensure it behaves as a block element */
}

.main-content-2 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    padding-left: 100px;
    padding-top: 50px;
}
.Adoption-card {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 80px;
    margin-left: -50px;
    padding-top: 20px;
    width: 200px;
    height: 260px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.Adoption-headshot {
    width: 150px;
    height: 150px;
    border-radius: 20%;
    object-fit: cover;
    margin: 0 auto; /* Center align headshot */
    display: block; /* Ensure it behaves as a block element */
}
.Adoption-info {
    text-align: center; /* Center align owner info */
    margin-top: 10px; 
}

.Adoption-name {
    font-size: 18px;
    font-weight: bold;
    margin-top: 25px;
}

.main-content-3 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 100px;
}
.Breeding-card {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 80px;
    margin-left: -50px;
    padding-top: 20px;
    width: 200px;
    height: 260px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.Breeding-headshot {
    width: 150px;
    height: 150px;
    border-radius: 20%;
    object-fit: cover;
    margin: 0 auto; /* Center align headshot */
    display: block; /* Ensure it behaves as a block element */
}
.Breeding-info {
    text-align: center; /* Center align owner info */
    margin-top: 10px; 
}

.Breeding-name {
    font-size: 18px;
    font-weight: bold;
    margin-top: 25px;
}

.btn-bubbly {
    padding: 15px 30px;
    font-size: 1.2em;
    border: none;
    border-radius: 50px;
    background-color: #FFFFFF;
    color: #333;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    margin: auto; /* Center the button */
    display: block; /* Ensure the button is a block element */
}

.btn-bubbly:hover {
    background-color: #F6E3F6;
}
