body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.main-content {
    height: 100vh; /* Full height of the viewport */
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../images/dog-cat-under-sheet.jpg') no-repeat center center fixed;
    background-size: cover;
    text-align: center; /* Center text within the main content */
}

.content-wrapper {
    background-color: rgba(255, 255, 255, 0.8); /* Optional: Add background to main content for better readability */
    padding: 20px;
    border-radius: 10px;
    width: 100%; /* Ensure it takes the full width available */
}

.navbar {
    background: rgba(255, 255, 255, 0); /* Fully transparent */
    transition: background 0.3s ease;
}

.navbar.scrolled {
    background: rgba(255, 255, 255, 1); /* White background */
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand .navbar-text {
    font-size: 1.5em;
    color: #333; /* Adjust color as needed */
    margin-left: 10px;
}

.navbar-nav {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.navbar-nav .nav-link {
    color: #333 !important; /* Adjust color as needed */
    margin-right: 10px;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
    color: white !important; /* Adjust color as needed */
}

/* Bubbly Button Styles */
.btn-bubbly {
    padding: 15px 30px;
    font-size: 1.2em;
    border: none;
    border-radius: 50px;
    background-color: #FFFFFF;
    color: #333;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    margin: auto; /* Center the button */
    display: block; /* Ensure the button is a block element */
}

.btn-bubbly:hover {
    background-color: #F8C8DC;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.modal-content {
    background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent modal background */
    border-radius: 10px;
    padding: 20px;
}

.modal-body form {
    display: flex;
    flex-direction: column;
}

.modal-body form input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.modal-body form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #F8C8DC;
    color: #333;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.modal-body form button:hover {
    background-color: #F8C8DC;
}

/* Carousel Styles */
.carousel-section {
    padding: 50px 0; /* Padding for the carousel section */
    background-color: #F8C8DC; /* Set background color for the carousel section */
    display: flex;
    justify-content: center; /* Center the carousel horizontally */
}
.carousel-inner img {
    height: auto; /* Adjust as necessary */
    width: 100%; /* Ensure the image covers the full width */
    object-fit: none;
}

.carousel {
    width: 80%; /* Adjust width as necessary */
    max-width: 400px; /* Max width for the carousel */
}

.carousel-control-prev,
.carousel-control-next {
    width: 5%; /* Adjust as necessary to create space between the buttons and the carousel */
}


.carousel-caption {
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 10px;
    border-radius: 5px;
    margin-top: 50px;
}

.carousel-caption h5,
.carousel-caption p {
    color: #fff; /* White text */
}

hr.break-off-line {
    border: 0;
    height: 1px;
    background: #333;
    margin: 50px 0;
}
