body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F6E3F6; /* Set background color */
}

.navbar {
    background: rgba(255, 255, 255, 0); /* Fully transparent */
    transition: background 0.3s ease;
}

.navbar.scrolled {
    background: rgba(255, 255, 255, 1); /* White background */
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand .navbar-text {
    font-size: 1.5em;
}

.main-content {
    padding-top: 100px; /* Space for fixed navbar */
    text-align: center;
}

.btn-bubbly {
    padding: 15px 30px;
    font-size: 1.2em;
    border: none;
    border-radius: 50px;
    background-color: #FFFFFF;
    color: #333;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    margin: auto; /* Center the button */
    display: block; /* Ensure the button is a block element */
}

.btn-bubbly:hover {
    background-color: #F6E3F6;
}


.headshot-container {
    display:flex; /* Use flexbox for easy alignment */
    justify-content:flex-start; /* Align items to the left */
    align-items:center; /* Vertically center the items if needed */
    padding-left: 450px; 
    padding-top: 30px;
    padding-bottom: 15px;
}

.headshot-image {
    border-radius: 50%;
    width: 150px; 
    height: 150px; 
    object-fit: cover;
    margin-right: 15px; 
}

.owner-info {
    display: flex;
    flex-direction: column; /* Stack name and description vertically */
    align-items: flex-start;
    position: relative; /* Ensure positioning context for absolute positioning */
}

.owner-name {
    font-size: 1.5em; 
    font-weight: bold; 
}

.owner-description {
    font-size: 0.9em; 
    margin-top: 5px; 
}
.separator {
    border: none; /* Remove default border */
    border-top: 4px solid black; 
    width: 50%; 
    margin: 20px auto; 
}

.star-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 3.0em;
    color: #aaa;
    margin-left:400px; 
    margin-bottom: 20px;
}

.star-button.clicked {
    color: gold;
}